/* <![CDATA[ */    

/*
 *
 * <rdf:RDF xmlns="http://web.resource.org/cc/"
 *     xmlns:dc="http://purl.org/dc/elements/1.1/"
 *         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 *         <Work rdf:about="">
 *            <license rdf:resource="http://creativecommons.org/licenses/by/1.0/" />
 *            </Work>
 *
 *            <License rdf:about="http://creativecommons.org/licenses/by/1.0/">
 *               <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
 *                  <permits rdf:resource="http://web.resource.org/cc/Distribution" />
 *                     <requires rdf:resource="http://web.resource.org/cc/Notice" />
 *                        <requires rdf:resource="http://web.resource.org/cc/Attribution" />
 *                           <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
 *                           </License>
 *
 *                           </rdf:RDF>
 *
 *                           */

html { 
    padding:0px;
    margin:0px;
}

body {
    background-color: #e1ddd9;
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;  
    padding:0px 20px;
    margin:0px;
}
p, pre, h2, h3 {
    padding:10px;
    margin:0px
}


h1 {
    font-size: 20px;
    text-transform:uppercase;
    text-align: right;
    color: #ffffff;
    background-color: #90897a;
    padding:5px 15px;
    margin:0px
}

h2 {
    font-size:16px;
    padding-top:10px;
    text-transform:uppercase;
    color: #564b47;
    background-color: transparent;
}    

h3 {
    font-size:14px;
    padding-top:10px;
    text-transform:uppercase;
    color: #564b47;
    background-color: transparent;
}    

h4 {
    font-size:8px;
    text-align: center;
    color: #888888;
    background-color: transparent;
}    

h5 {
    font-size: 11px;
    text-align: right;
    color: #ffffff;
    background-color: #90897a;
    padding:5px 15px;
    margin:0px
}

a { 
    color: #ff66cc;
    background-color:transparent;
    text-decoration: none; 
}

pre { 
    color: #564b47;
    font-size: 11px;
    background-color:transparent;
    font-family: Courier, Monaco, Monospace;
}

#menu {
    position: absolute;
    width: 200px;
    left: 20px;
    background-color: #eeeeee;
    padding:0px;
    margin:0px
}

#content {
    width: 750px;
    margin-left: 200px;
    background-color:#fff;
    overflow: auto;
}
/* ]]> */
